
body {
    position: relative;
    padding-bottom:25px;
}

h1, h2, h3 {
    margin-top: 40px;
}

h1.page-title {
    margin-top: 20px;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.navbar-brand {
    padding:8px;
}

.navbar-brand img {
    margin-right: 5px;
}
.nav .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.navbar-toggle {
    background-color: #33669b;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}

.main {
    font-size: 18px;
    line-height: 1.5;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

.sidebar .nav > li > a:active {
    color:red;
}

.sidebar .nav  ul {
    list-style: outside none none;
    padding-left: 24px;
}

@media (min-width: 768px) {
    .sidebar {
        margin-top:35px;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
    }

    .sidebar.affix {
        position: fixed;
        top: 0;
    }

    .sidebar .nav > li > a {
        padding: 3px 15px;
    }
}

.page-masthead {
    background-color:#33669b;
}

.page-title {
    font-size:48px;
    color:#fff;
}

@media (max-width: 768px) {
    .page-masthead {
        padding-left:0;
        padding-right:0;
    }

    .page-masthead .page-title {
        font-size:24px;
    }

    .page-masthead .page-title img {
        width:65px;
        height:65px;
    }
}

.carousel {
    height: 215px;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}