
body {
    padding-bottom:25px;
}

h1, h2, h3 {
    margin-top: 40px;
}

h1.page-title {
    margin-top: 20px;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.navbar-brand {
    padding:8px;
}

.navbar-brand img {
    margin-right: 5px;
}
.nav .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.main {
    font-size: 18px;
    line-height: 1.5;
}

.sidebar {
    margin-top:35px;
}

.sidebar.affix {
    position: fixed;
    top: 0;
}

.sidebar .nav > li > a {
    padding: 3px 15px;
}