body {
    position: relative;
    padding-bottom:25px;
}

a {
    color:#33669a;
}

.page-navbar {
    min-height: 35px;
    margin-bottom:0;
}

.page-navbar .navbar-toggle {
    background-color: #33669a;
}

.page-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

.page-masthead {
    background-color:#33669a;
    padding-bottom:10px;
    margin-bottom:20px;
}

.page-masthead h1 {
    font-size:48px;
    color:#fff;
}

.page-masthead small {
    font-style:italic;
    color:#eee;
}

@media (max-width: 768px) {
    .page-masthead .container {
        padding-left:0;
        padding-right:0;
    }
    .page-masthead h1 {
        font-size:36px;
    }
}

@media (max-width: 480px) {
    .page-masthead h1 {
        font-size:22px;
    }
    .page-masthead h1 img {
        width:60px;
        height:60px;
    }
}

.sidebar {
    margin-top:20px;
    overflow-x: hidden;
}

.sidebar .nav  ul li a {
    padding-left: 24px;
}

.sidebar nav.affix {
    top: 0;
}

.sidebar ul.nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.sidebar ul.nav li.active ul.nav {
    display:block;
}

@media (max-width: 980px) {
    .page-navbar .nav > li > a {
        padding-left:5px;
        padding-right:5px;
    }

    .sidebar {
        display: none;
    }
    .main {
        width: 100%;
    }
}

.carousel {
    height: 215px;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.main h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    margin-top:35px;
}

.main h2:first-child {
    margin-top:20px;
}
