<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

{% if page.scrollspy %}
<body data-spy="scroll" data-target="#{{ page.scrollspy }}">
{% else %}
<body>
{% endif %}

{% include nav.html %}

{% if page.title %}
    <div class="page-masthead container-fluid">
        <div class="container">
            <h1 class="page-title">
                <img src="{{ site.baseUrl }}/images/mvc5.png" width="125" height="125" title="{{ page.title }}">
                {{ page.title }}
            </h1>
            {% if page.tagline %}
            <small class="page-subtitle">{{ page.tagline }}</small>
            {% endif %}
        </div>
    </div>
{% endif %}

{{ content }}

<div class="container">
    <hr>
    <small>&copy; 2015 Mvc5 Framework</small>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
