<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhpMetrics report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- PHPMetrics CSS -->
    <link rel="stylesheet" href="/phpmetrics/css/style.css">
    <link rel="stylesheet" href="/phpmetrics/css/clusterize.css">
</head>
<body>

{% include navbar.html %}

<header id="page-header" class="bg-purple text-white mb-4 p-3">
    <div class="container">
        <h1 class="display-4">
            <img src="{{ site.baseUrl }}/images/mvc5.png" width="125" height="125" alt="Mvc5 PHPMetrics Static Analysis" title="Mvc5 PHPMetrics Static Analysis">
            PHPMetrics Reports
        </h1>
        <small class="font-italic">
            <a class="text-white" href="https://github.com/phpmetrics/phpmetrics/">PhpMetrics</a> is a static analysis tool created by
            <a class="text-white" style="text-decoration: underline;" href="https://twitter.com/Halleck45">Jean-François Lépine</a>
        </small>
    </div>
</header>

<div class="container">
    <div class="row">
        <article class="col-md-10">
            {{ content }}
        </article>
        <aside class="col-md-2 d-none d-md-block">
            {% include_relative sidebar.md %}
        </aside>
    </div>
</div>

<footer class="container mb-4 mt-3 border-top">
    <small class="text-muted">&copy; 2020 Gregory Baboolal</small>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script type="text/javascript" src="/phpmetrics/js/functions.js"></script>
<script type="text/javascript" src="/phpmetrics/js/d3.v3.js"></script>
<script type="text/javascript" src="/phpmetrics/js/d3.hexbin.v0.js"></script>
<script type="text/javascript" src="/phpmetrics/js/sort-table.min.js"></script>
<script type="text/javascript" src="/phpmetrics/js/graph-maintainability.js"></script>
<script type="text/javascript" src="/phpmetrics/js/graph-licenses.js"></script>

<script src="/phpmetrics/js/clusterize.min.js"></script>

<script type="text/javascript" src="/phpmetrics/js/classes.js"></script>

<script type="text/javascript">
    var accessibilityEnabled = false;
</script>
</body>
</html>
